body,
app,
script {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Didact Gothic', sans-serif;
}

.chatContainer {
  position: absolute;
  right: 3rem;
  top: 20%;
}

.chatContainer h1 {
  font-family: sans-serif;
  color: black;
}

#messages {
  background-color: white;
  height: 200px;
  width: 400px;
  overflow-y: scroll;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 0.8rem;
  border-radius: 1rem;
  padding: 0.3rem;
  border: 1px solid black;
}

#messageBox {
  display: block;
  width: 380px;
  margin-bottom: 10px;
  padding: 6px;
  border-radius: 1rem;
  font-family: 'Didact Gothic', sans-serif;
}

#send {
  width: fit-content;
  height: 30px;
  padding: 0.3rem;
  border-radius: 1rem;
  border: none;
  font-family: 'Didact Gothic', sans-serif;
  background-color: rgb(142, 217, 245);
  color: white;
}

#send:hover {
  color: black;
  background-color: rgb(89, 198, 237);
  filter: drop-shadow(0 0 0.25rem rgb(154, 154, 154));
}
